.advantages {
    list-style: none;
    display: flex;
    width: 1200px-(4*90px);

    &-title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin: 0px 0px 10px 0px;

    }

    &>li:not(:nth-child(4n+1)) {
        margin-left: 30px;
    }

    &-description {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--tetriary-color);
    }
}






.section-advantages {
    padding-bottom: 0px;
}

.background-svg {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}