.advantages {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: -15px;
    align-items: center;


    &-title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    &-description {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--tetriary-color);
    }
}


.container-advantages {
    padding: 60px 0;
}






.background-svg {
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .advantages>li {
        width: calc(100% - 30px);
    }

}


@media screen and (min-width: 768px) {
    .advantages {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        &-title {
            text-align: start;
        }

        &>li {
            width: calc((100% - 60px)/2);
            margin: 15px;
        }
    }
}


@media screen and (min-width: 1200px) {
    .advantages>li {
        width: calc((100% - 120px)/4);
    }
}