.advantages {
    list-style: none;
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin: 0px 0px 10px 0px;
        text-align: center;

    }

    &-description {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--tetriary-color);
    }
}






.section-advantages {
    padding-bottom: 60px;
}

.background-svg {
    max-width: 480px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}