.customers-list {
    list-style: none;
    display: flex;
    justify-content: center;

    & svg {
        fill: #AFB1B8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a {
        height: 92px;
        width: 170px;
        display: flex;
        align-items: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & li {
        margin-right: 15px;
        margin-left: 15px;
    }

    & a:hover,
    & a:focus {
        border: 1px solid var(--accent-color);
    }

    & a:hover svg,
    & a:focus svg {
        fill: var(--accent-color);
    }
}

.customers-section {
    margin: 94px -15px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}