.customers-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;

    & svg {
        fill: #AFB1B8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a {
        height: 92px;
        display: flex;
        align-items: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }

    &>li {
        margin: 15px;
        width: calc((100% - 60px)/2);
    }

    & a:hover,
    & a:focus {
        border: 1px solid var(--accent-color);
    }

    & a:hover svg,
    & a:focus svg {
        fill: var(--accent-color);
    }
}

.customers-section {
    padding: 60px 0;
}

.customers-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    .customers-list {
        &>li {
            width: calc((100% - 90px)/3);
        }
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        &>li {
            width: calc((100% - 180px)/6);
        }
    }

    .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }
}