 .address {
     text-decoration: none;
     font-style: normal;
     color: var(--secondary-color);
     display: block;
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &-offline {
         color: var(--white-text);
     }

     &:focus,
     &:hover {
         color: var(--accent-color);
     }
 }

 .container-address {
     text-align: center;

     &>li:not(:last-child) {
         margin-bottom: 9px;
     }
 }

 .footer {
     background-color: var(--background);

     & ul {
         list-style: none;
     }

     &-address {
         color: var(--white-text);
         display: block;
     }
 }




 .social {
     width: 44px;
     height: 44px;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 50%;


     &-link {
         margin-bottom: 60px;

         &>p {
             text-transform: uppercase;
             font-weight: 700;
             font-size: 14px;
             line-height: 1.14;
             letter-spacing: 0.03em;
             text-transform: uppercase;
             color: #FFFFFF;
             margin-bottom: 20px;
             text-align: center;
         }

         &>ul {
             display: flex;
             justify-content: center;
         }
     }

     & svg {
         fill: var(--white-text);
     }

     &-list a {
         display: flex;
         align-items: center;
         justify-content: center;
         transition-property: background-color;
         transition-duration: 250ms;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

         &:hover,
         &:focus {
             background-color: #2196F3;
         }
     }


     &-list li:not(:first-child) {
         margin-left: 10px;
     }
 }


 .form-subscribe {
     display: flex;
     flex-direction: column;
 }

 .subscribe-label {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     margin-bottom: 20px;
     color: #FFFFFF;
     display: block;
     text-align: center;
 }



 .subscribe-box {
     display: flex;
     flex-direction: column;
     align-items: center;

     &>input {
         height: 50px;
         border: 1px solid rgba(255, 255, 255, 0.3);
         border-radius: 4px;
         background-color: transparent;
         padding-left: 16px;
         color: rgba(255, 255, 255, 0.6);
         outline: none;
         transition-property: opacity;
         transition-duration: 250ms;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         font-size: 16px;
         line-height: 1.25;
         color: #FFFFFF;


         &::placeholder {
             position: relative;
             font-weight: 400;
             font-size: 16px;
             line-height: 1.25;
             color: rgba(255, 255, 255, 0.6);
             letter-spacing: 0.03em;
         }

         &:hover,
         &:focus {
             border: 1px solid #2196F3;
         }
     }

     & svg {
         fill: #FFFFFF;
         margin-left: 10px;
     }

     &>button {
         width: 200px;
         height: 50px;
         background: #2196F3;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         border: none;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 20px;
     }
 }

 .button-subscribe-title {
     font-weight: 700;
     font-size: 16px;
     line-height: 1, 9;
     letter-spacing: 0.06em;
     color: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .subscribe-email {
     justify-content: center;

 }


 footer {
     padding: 60px 0;
 }

 .footer-address {
     margin-bottom: 60px;
 }



 @media screen and (max-width: 479px) {
     .subscribe-box>input {
         width: calc(100% - 30px);
     }
 }


 @media screen and (min-width: 480px) {
     .subscribe-box>input {
         width: 450px;
     }
 }



 @media screen and (min-width: 768px) {
     .footer-address-social {
         display: flex;
         justify-content: center;
         align-items: baseline;
     }


     .footer-address {
         margin-right: 165px;
         margin-bottom: 0;
     }

     .form-subscribe {
         margin-top: 60px;
     }

     .social-link {
         margin-bottom: 0px;
     }
 }



 @media screen and (min-width: 1200px) {
     .subscribe-box>input {
         width: 358px;
     }

     .footer-address {
         margin-right: 0;
     }

     .social-link {
         margin-left: 70px;

         &>p {
             text-align: start;
         }
     }

     .logo-footer {
         text-align: start;
     }

     .subscribe-label {
         text-align: start;
     }

     .container-address {
         text-align: start;
     }

     .container-footer {
         display: flex;
         align-items: baseline;
     }

     .form-subscribe {
         margin-left: auto;
         margin-top: 0;
     }

     .subscribe-box {
         flex-direction: row;

         &>button {
             margin-top: 0;
             margin-left: 12px;
         }
     }

     footer {
         padding: 94px 0;
     }
 }