.border-header {
    border: 1px solid #ECECEC;
}

/* стилізація логотипа */
.logo {
    color: currentColor;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 16px 0;
    display: flex;


    &-accent {
        color: var(--accent-color)
    }

    &-footer {
        color: var(--white-text);
        display: block;
        margin-bottom: 20px;
    }
}

.header-list {
    display: flex;

    &>button {
        border: none;
        background-color: transparent;
        margin-left: auto;
        margin-right: 23px;

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
}

















/* стилізація навігації */
header ul {
    list-style: none;
}





.navigation {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.02;
    letter-spacing: 0.02em;
    color: currentColor;
    text-decoration: none;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &-list>li:not(:last-of-type) {
        margin-bottom: 32px;
    }

    &-list {
        margin-top: 48px;
        margin-bottom: 302px;
    }


    &:focus,
    &:hover {
        color: var(--accent-color);
    }



    &-studio,
    &-portfolio {
        color: var(--accent-color);

    }

}






/* стилізація зв'язку */
.connection {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;

    color: var(--tetriary-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    order: 3;

    &-tel {
        font-weight: 500px;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 34px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2196F3;

        &:focus,
        &:hover {
            color: var(--accent-color);
        }


        & svg {
            margin-right: 10px;
            align-items: center;
            fill: #757575;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            display: none;
        }

        &:focus svg,
        &:hover svg {
            fill: var(--accent-color);
        }
    }


    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    & svg {
        margin-right: 10px;
        align-items: center;
        fill: #757575;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
    }





    &-container {
        margin-left: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & li:last-of-type {
            margin-bottom: 32px;
        }

        & li:first-of-type {
            order: 1;
            margin-bottom: 64px;
        }
    }




    &:hover svg,
    &:focus svg {
        fill: var(--accent-color);
    }
}









.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    padding: 48px 0px 48px 40px;
    z-index: 2;
    overflow-y: scroll;
    transform: translateX(100%);

    & button {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 25px;
        top: 21px;

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
}

.is-open {
    transform: translateX(0);
}

.mobile-social {
    display: flex;

    & a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2196F3;
    }

    & li:not(:first-child)::before {
        content: '';
        width: 22px;
        height: 0px;
        left: 315px;
        top: 726px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin: 0 10px;
    }
}