.border-header {
    border: 1px solid #ECECEC;
}

/* стилізація логотипа */
.logo {
    color: currentColor;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 16px 0;
    display: flex;
    align-items: center;


    &-accent {
        color: var(--accent-color)
    }

    &-footer {
        color: var(--white-text);
        display: block;
        margin-bottom: 20px;
        text-align: center;
        padding: 0;
    }
}





















/* стилізація навігації */
header ul {
    list-style: none;
}





.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: currentColor;
    text-decoration: none;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);






    &:focus,
    &:hover {
        color: var(--accent-color);
    }



    &-studio,
    &-portfolio {
        color: var(--accent-color);

    }


    &-studio::after,
    &-portfolio::after {
        content: "";
        position: absolute;
        width: 48px;
        height: 4px;

        background: #2196F3;
        border-radius: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    &-list li {
        position: relative;
    }
}






/* стилізація зв'язку */
.connection {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--tetriary-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    order: 3;

    &-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--tetriary-color);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


        &:focus,
        &:hover {
            color: var(--accent-color);
        }


        & svg {
            margin-right: 10px;
            align-items: center;
            fill: #757575;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:focus svg,
        &:hover svg {
            fill: var(--accent-color);
        }
    }


    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    & svg {
        margin-right: 10px;
        align-items: center;
        fill: #757575;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    }










    &:hover svg,
    &:focus svg {
        fill: var(--accent-color);
    }
}


.mobile-menu>button {
    display: none;
}

.header-list>button {
    display: none;
}

.mobile-social {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFFFFF;
        padding: 48px 0px 48px 40px;
        z-index: 2;
        transform: translateX(100%);



        & button {
            display: block;
            border: none;
            background-color: transparent;
            position: absolute;
            right: 25px;
            top: 21px;

            &:hover,
            &:focus {
                fill: var(--accent-color);
            }
        }
    }

    .is-open {
        transform: translateX(0);
    }

    nav {
        margin-top: 48px;
        margin-bottom: auto;
    }

    .js-menu-container {
        display: flex;
        flex-direction: column;
    }

    .mobile-social {
        display: flex;

        & a {
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2196F3;
        }

        & li:not(:first-child)::before {
            content: '';
            width: 22px;
            height: 0px;
            left: 315px;
            top: 726px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-right: 10px;
        }

        & li:not(:last-child) {
            margin-right: 10px;
        }


        flex-wrap: wrap;
    }

    .header-list {
        display: flex;

        &>button {
            display: block;
            border: none;
            background-color: transparent;
            margin-left: auto;
            margin-right: 23px;

            &:hover,
            &:focus {
                fill: var(--accent-color);
            }
        }
    }

    .navigation {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.02;
        letter-spacing: 0.02em;
        color: currentColor;


        &-list {
            margin-bottom: auto;

            &>li:not(:last-of-type) {
                margin-bottom: 32px;
            }
        }

        &-studio,
        &-portfolio {
            color: var(--accent-color);

        }

        &-studio::after,
        &-portfolio::after {
            display: none;
        }
    }



    .connection {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        &-tel {
            font-weight: 500px;
            font-size: 34px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2196F3;

            & svg {
                display: none;
            }
        }

        &-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & li:last-of-type {
                margin-bottom: 32px;
            }

            & li:first-of-type {
                order: 1;
                margin-bottom: 64px;
            }

            & svg {
                display: none;
            }
        }
    }

}


@media screen and(min-width: 768px) {

    .navigation-list {
        display: flex;
        margin-left: 90px;

        & li:not(:first-of-type) {
            margin-left: 50px;
        }
    }


    .navigation {
        display: block;
        padding: 32px 0;
    }

    .mobile-menu {
        display: flex;
        width: 100%;
    }

    .connection {

        &-tel {
            display: flex;
            margin-top: 10px;
            align-items: center;
        }



    }





    header ul {
        display: flex;
    }


    .header-list {
        display: flex;
    }



    .connection-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }

}



@media screen and(min-width: 1200px) {
    .connection-container {
        flex-direction: row;
        align-items: center;
    }

    .connection-tel {
        margin-top: 0;
        margin-left: 30px;
    }

    .logo {
        font-size: 26px;
    }
}