.team {
    background-color: var(--secondary-background);

    &__title {
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        text-align: center;
    }

    &__employee {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 10px;
    }

    &__profession {
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--tetriary-color);
        text-align: center;
        margin-bottom: 16px;

    }

    &__img {
        display: block;
    }

    &__card {
        background-color: var(--white-text);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        width: 1200px-4*90px;
        display: block;
    }

    &__card:not(:nth-child(4n)) {
        margin-right: 30px;
    }

    &__list {
        display: flex;
    }

    &__text {
        padding: 30px 0;
        margin: 0 5px;
    }

    &__svg {
        fill: #AFB1B8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    &__li:not(:last-child) {
        margin-right: 10px;
    }


    &__social {
        justify-content: center;
        display: flex;
        list-style: none;
    }

}

.team__svg {

    .team__link:hover &,
    .team__link:focus & {
        fill: #FFFFFF;
    }
}