body {
    background-color: white;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}








.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .section {
        padding: 94px;
    }

    .footer {
        padding: 94px;
    }


}




.section {
    padding: 60px 0;
}

.footer {
    padding: 60px 0;
}


.text-phantom {
    font-size: 0px;
}



h1,
h2,
h3,
ul,
p {
    margin: 0px;
    padding: 0px;
}