:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --white-text: #FFFFFF;
    --tetriary-color: #757575;
    --secondary-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
    --secondary-background: #F5F4FA;
}